@model Spedicija.Korisnik

@{Layout = null;}

<html>
<head>
    <title>Sign In</title>

    <link href="~/Content/Login/style1.css" rel="stylesheet">
    <link href="~/Content/Login/style.css" rel="stylesheet">
    <link href="~/Content/Login/loginBootstrap.css" rel="stylesheet">

    <script type="text/javascript">

    $(document).ready(function () {

        if ("@ViewBag.Message" == "OK")
            swal("Upit je uspješno poslat", "Uskoro ćemo Vas kontaktirati sa konkretnim odgovorima", "success");
        else if ("@ViewBag.Message" == "OKNALOG")
            swal("Nalog je uspješno kreiran", "Hvala što koristite naše usluge", "success");

    });

    </script>

</head>

<body class="app">
    <div id="loader" class="fadeOut">
        <div class="spinner"></div>
    </div>

    <script type="text/javascript">
window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
          loader.classList.add('fadeOut');
        }, 300);
      });</script>

    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style="background-image:url(/Content/Login/landing1.jpg)">

            <!--
            <div class="pos-a centerXY">
            <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px">
            <img class="pos-a centerXY" src="" alt="">
            </div></div>
            -->

        </div><div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r ps" style="min-width:320px">
            <h4 class="fw-300 c-grey-900 mB-40">Transport Office</h4>


            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
            {
                @Html.ValidationSummary(true)
                @Html.Hidden("URL", ViewBag.ReturnUrl as object)


                    <div class="form-group">
                        <label class="text-normal text-dark">Korisničko ime</label>
                        @Html.TextBoxFor(model => model.KorisnickoIme, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KorisnickoIme, "", new { @class = "text-danger", @style = "font-size: 1.5rem;" })
                    </div>

                    <div class="form-group">
                        <label class="text-normal text-dark">Lozinka</label>
                        @Html.PasswordFor(model => model.Lozinka, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Lozinka)
                    </div>

                    <div class="form-group">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                                    <label for="inputCall1" class="peers peer-greed js-sb ai-c">
                                        <span class="peer peer-greed">Zapamti Me</span>
                                    </label>
                                </div>
                            </div><div class="peer">
                                <input type="submit" value="Prijava" title="Prijava" class="btn btn-primary">
                            </div>
                        </div>
                    </div>

                    @Html.AntiForgeryToken()
                    }
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div><div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
</div>
    </div>

    <script type="text/javascript" src="~/Content/Login/vendor.js"></script>
    <script type="text/javascript" src="~/Content/Login/bundle.js"></script>
</body>
</html>