@model Spedicija.DnevnikPrevoza

@{
    ViewBag.Title = "Edit";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="~/Content/js/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery-validation/dist/localization/messages_sr_lat.min.js"></script>
<script src="~/Content/js/jquery-validation/dist/additional-methods.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });

        var validator = $(".form").validate({
            rules: {

                DatumDnevnika: {
                    "required": true

                }
                ,
                IdNarucioca: {
                    "required": true

                },
                UtovarFirma: { "required": true },
                UtovarAdresa: { "required": true },
                UtovarGrad: { "required": true },
                IstovarAdresa: { "required": true },
                IstovarFirma: { "required": true },
                IstovarGrad: { "required": true },
           //     IdVozilo: { "required": true },
           //     IdVozac: { "required": true },

                CijenaPrevoza: {
                    "required": true,
                    "pattern": /^(\d+|\d+,\d{1,2})$/
                },

                IdValuta: { "required": true },

                ValutaPlacanja: {
                    "number": true
                },
                ValutaPlacanjaPrevoznika: {
                    "number": true
                },
                CijenaPrevozaPrevoznika: {
                    "pattern": /^(\d+|\d+,\d{1,2})$/
                }

            },
            messages: {
                CijenaPrevoza: {
                    pattern: 'Unesite ispravan iznos (za decimale koristite , )'
                },
                CijenaPrevozaPrevoznika: {
                    pattern: 'Unesite ispravan iznos (za decimale koristite , )'
                }
            }

        });

        $('submit').on('click', function (e) {
            e.preventDefault();

            if (!($(".form").valid())) {
                validator.focusInvalid();
            }
			else $(".form").submit();


        });
  });
</script> 

<link href="~/Content/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/js/datepicker.js"></script>
<script src="~/Content/js/bootstrap-datepicker.sr-latin.js"></script>

<script src="~/Content/js/typehead.js"></script>
<link href="~/Content/css/typehead.css" rel="stylesheet" />

<script src="~/Content/js/select.js"></script>
<link href="~/Content/css/selectlist.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {

        $('.datum').datepicker({
            language: 'sr-latin',
        format: "dd.mm.yyyy",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true,
        toggleActive: true
    });
      

     //   $('select').addClass("select form-control dirty");

        $('.select').select2({
            allowClear: true
        });

        $("#_SaPDV").on('click', function (e) {

   
            if ($(this).is(':checked')) {

      
                var a = parseFloat($("#CijenaPrevoza").val().replace(',', '.'));
                a = (a + a * 17 / 100).toFixed(2);

                $("#CijenaPrevoza").val(a.toString().replace('.', ','));
            }
            else {
          
                var b = parseFloat($("#CijenaPrevoza").val().replace(',', '.'));
                b = (b * 100 / 117).toFixed(2);
                $("#CijenaPrevoza").val(b.toString().replace('.', ','));
            }

        });

        $('#cbDrugi').on('click', function (e) {

            if ($(this).is(':checked')) {

                    $('#IdSubjekt').prop('disabled', false);
                    // $('#BrojNalogaPrevoznika').prop('disabled', false);
                    $('#BrojNalogaPrevoznika').val($("#SerijskiBroj").val())
                    $('#BrojNalogaPrevoznika').addClass("dirty");

                    $('#CijenaPrevozaPrevoznika').prop('disabled', false);
                    $('#IdValutaPrevoznika').prop('disabled', false);
                    $('#VozacPrevoznika').prop('disabled', false);
                    $('#RegistracijaVozilaPrevoznika').prop('disabled', false);
                    $('#ValutaPlacanjaPrevoznika').prop('disabled', false);
                    
                }
                else {

                    $('#IdSubjekt').select2("val", "");
                    $('#BrojNalogaPrevoznika').val("");
                    $('#BrojNalogaPrevoznika').removeClass("dirty");
                    $('#CijenaPrevozaPrevoznika').val("");
                    $('#IdValutaPrevoznika').select2("val", "");
                    $('#VozacPrevoznika').val("");
                    $('#RegistracijaVozilaPrevoznika').val("");
                    $('#ValutaPlacanjaPrevoznika').val("");

                    $('#IdSubjekt').prop('disabled', true);
                    // $('#BrojNalogaPrevoznika').prop('disabled', true);
                    $('#CijenaPrevozaPrevoznika').prop('disabled', true);
                    $('#IdValutaPrevoznika').prop('disabled', true);
                    $('#VozacPrevoznika').prop('disabled', true);
                    $('#RegistracijaVozilaPrevoznika').prop('disabled', true);
                    $('#ValutaPlacanjaPrevoznika').prop('disabled', true);
                }

        });
    });


</script> 

<script>
    $(document).ready(function () {
        $(".grad").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DnevnikPrevoza/AjaxGradovi",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Grad1, value: item.Grad1 };
                        }))

                    }
                })
            }

            /*,
            messages: {
                noResults: "", results: ""
            }*/
        });


        $(".adresa").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DnevnikPrevoza/AjaxAdresa",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Adresa, value: item.Adresa };
                        }))

                    }
                })
            }
        });


        $(".firma").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DnevnikPrevoza/AjaxFirme",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Firma, value: item.Firma };
                        }))

                    }
                })
            }
        });


        $(".spedicija").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DnevnikPrevoza/AjaxSpedicija",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Spedicija, value: item.Spedicija };
                        }))

                    }
                })
            }
        });


        $(".regPrevoznika").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DnevnikPrevoza/AjaxRegistracijaPrevoznika",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.RegPrevoznika, value: item.RegPrevoznika };
                        }))

                    }
                })
            }
        });

        $(".vozacPrevoznika").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DnevnikPrevoza/AjaxVozacPrevoznika",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.VozacPrevoznika, value: item.VozacPrevoznika };
                        }))

                    }
                })
            }
        });



        $("#UtovarFirma").focusout(function () {
            if ($("#UtovarAdresa").val() == '' || $("#UtovarGrad").val() == '') {
                $.getJSON("/DnevnikPrevoza/AjaxVratiAdresuFirme", { Firma: $("#UtovarFirma").val() }, function (data) {
                    if (data.Adresa != "") {
                        $("#UtovarAdresa").val(data.Adresa);
                        $("#UtovarAdresa").addClass("dirty")

                    }
                    if (data.Grad != "") {
                        $("#UtovarGrad").val(data.Grad);
                        $("#UtovarGrad").addClass("dirty")
                    }
                });
            }
        });


        $("#IstovarFirma").focusout(function () {
            if ($("#IstovarAdresa").val() == '' || $("#IstovarGrad").val() == '') {
                $.getJSON("/DnevnikPrevoza/AjaxVratiAdresuFirme", { Firma: $("#IstovarFirma").val() }, function (data) {
                    if (data.Adresa != "") {
                        $("#IstovarAdresa").val(data.Adresa);
                        $("#IstovarAdresa").addClass("dirty")

                    }
                    if (data.Grad != "") {
                        $("#IstovarGrad").val(data.Grad);
                        $("#IstovarGrad").addClass("dirty")
                    }
                });
            }
        });





    })
</script>

<!-- Postojeca polja -->
<script type="text/javascript">
    $(document).ready(function () {

        $('#body-add-utovar').children('div.row').each(function (numItems) {

            $("#DU-F-" + numItems).rules("add", {
                "required": true
            });
            $("#DU-A-" + numItems).rules("add", {
                "required": true
            });
            $("#DU-M-" + numItems).rules("add", {
                "required": true
            });

            $("#DU-M-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxGradovi",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Grad1, value: item.Grad1 };
                            }))

                        }
                    })
                }

            });


            $("#DU-A-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxAdresa",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Adresa, value: item.Adresa };
                            }))

                        }
                    })
                }
            });


            $("#DU-F-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxFirme",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Firma, value: item.Firma };
                            }))

                        }
                    })
                }
            });

            $("#DU-F-" + numItems).focusout(function () {

                if ($("#DU-A-" + numItems).val() == '' || $("#DU-M-" + numItems).val() == '') {
           
                    $.getJSON("/DnevnikPrevoza/AjaxVratiAdresuFirme", { Firma: $("#DU-F-" + numItems).val() }, function (data) {
                        if (data.Adresa != "") {
                            $("#DU-A-" + numItems).val(data.Adresa);
                            $("#DU-A-" + numItems).addClass("dirty");
              
                        }
                        if (data.Grad != "") {
                            $("#DU-M-" + numItems).val(data.Grad);
                            $("#DU-M-" + numItems).addClass("dirty");
                    
                        }
                    });
                }
            });



            $("#DUrowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DU-F-" + numItems).val("");
                $("#DU-A-" + numItems).val("");
                $("#DU-M-" + numItems).val("");

                $("#DU-F-" + numItems).rules("remove");
                $("#DU-A-" + numItems).rules("remove");
                $("#DU-M-" + numItems).rules("remove");

                $("#DU-F-" + numItems).attr('value', '');
                $("#DU-A-" + numItems).attr('value', '');
                $("#DU-M-" + numItems).attr('value', '');

                $("#DUrow-" + numItems).hide();
            });

        });
       
        $('#body-add-istovar').children('div.row').each(function (numItems) {


            $("#DI-F-" + numItems).rules("add", {
                "required": true
            });
            $("#DI-A-" + numItems).rules("add", {
                "required": true
            });
            $("#DI-M-" + numItems).rules("add", {
                "required": true
            });

            $("#DI-M-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxGradovi",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Grad1, value: item.Grad1 };
                            }))

                        }
                    })
                }

            });


            $("#DI-A-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxAdresa",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Adresa, value: item.Adresa };
                            }))

                        }
                    })
                }
            });


            $("#DI-F-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxFirme",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Firma, value: item.Firma };
                            }))

                        }
                    })
                }
            });

            $("#DI-F-" + numItems).focusout(function () {
 
                if ($("#DI-A-" + numItems).val() == '' || $("#DI-M-" + numItems).val() == '') {
         
                    $.getJSON("/DnevnikPrevoza/AjaxVratiAdresuFirme", { Firma: $("#DI-F-" + numItems).val() }, function (data) {
                        if (data.Adresa != "") {
                            $("#DI-A-" + numItems).val(data.Adresa);
                            $("#DI-A-" + numItems).addClass("dirty");
                
                        }
                        if (data.Grad != "") {
                            $("#DI-M-" + numItems).val(data.Grad);
                            $("#DI-M-" + numItems).addClass("dirty");
           
                        }
                    });
                }
            });



            $("#DIrowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DI-F-" + numItems).val("");
                $("#DI-A-" + numItems).val("");
                $("#DI-M-" + numItems).val("");

                $("#DI-F-" + numItems).rules("remove");
                $("#DI-A-" + numItems).rules("remove");
                $("#DI-M-" + numItems).rules("remove");

                $("#DI-F-" + numItems).attr('value', '');
                $("#DI-A-" + numItems).attr('value', '');
                $("#DI-M-" + numItems).attr('value', '');

                $("#DIrow-" + numItems).hide();
            });
        });

        $('#body-add-ui').children('div.row').each(function (numItems) {

            $("#DE-U-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxUvoznik",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Grad1, value: item.Grad1 };
                            }))

                        }
                    })
                }

            });


            $("#DE-I-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxIzvoznik",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Adresa, value: item.Adresa };
                            }))

                        }
                    })
                }
            });



            $("#DErowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DЕ-U-" + numItems).val("");
                $("#DЕ-I-" + numItems).val("");

                $("#DE-U-" + numItems).attr('value', '');
                $("#DE-I-" + numItems).attr('value', '');


                $("#DErow-" + numItems).hide();
            });
        });

        $('#body-add-carina').children('div.row').each(function (numItems) {


            $("#DC-U-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxSpedicija",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Grad1, value: item.Grad1 };
                            }))

                        }
                    })
                }

            });


            $("#DC-I-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxSpedicija",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Adresa, value: item.Adresa };
                            }))

                        }
                    })
                }
            });



            $("#DCrowrem-" + numItems).on('click', function (e) {
                e.preventDefault();

                $("#DC-U-" + numItems).val("");
                $("#DC-I-" + numItems).val("");

                $("#DC-U-" + numItems).attr('value', '');
                $("#DC-I-" + numItems).attr('value', '');

                console.log($("#DC-U-" + numItems).val());
                console.log($("#DC-I-" + numItems).val());

                $("#DCrow-" + numItems).hide();
            });
        });
  

        $('#body-add-troskovi').children('div.row').each(function (numItems) {

            $("#T-IZ-" + numItems).rules("add", {
                "required": true,
                "pattern": /^(\d+|\d+,\d{1,2})$/
            });


            var a = parseInt(numItems);


            $("#Trowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#T-IZ-" + numItems).val("");


                $("#T-IZ-" + numItems).rules("remove");


                $("#T-IZ-" + numItems).attr('value', '');
                $("#T-VR-" + numItems).attr('value', '');
                $("#T-VA-" + numItems).attr('value', '');

                $("#Trow-" + numItems).hide();
            });

        });


    });
</script>




<!--DINAMICKI DODATI REDOVI -->
<script>
    $(document).ready(function () {


        $("#a-add-utovar").on('click', function (e) {

            e.preventDefault();
            var numItems = $('#body-add-utovar').children('div.row').length;

            var html = "";

            html += "<div class='row' id='DUrow-" + numItems + "'><input type='hidden' name='DnevnikUtovar[" + numItems + "].IdDnevnik' value='@Model.IdDnevnik' ><div class='col-md-4'>";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DU-F-" + numItems + "' name='DnevnikUtovar[" + numItems + "].Firma' value='' class='form-control dirty' >";
            html += "<label>Firma</label>";
            html += "</div></div>";
            html += "<div class='col-md-4' >";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DU-A-" + numItems + "' name='DnevnikUtovar[" + numItems + "].Adresa' value='' class='form-control dirty' >";
            html += "<label>Adresa</label>";
            html += "</div></div>";
            html += "<div class='col-md-3' >";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DU-M-" + numItems + "' name='DnevnikUtovar[" + numItems + "].Mjesto' value='' class='form-control dirty' >";
            html += "<label>Mjesto</label>";
            html += "</div></div>";
            html += "<div class='col-md-1' >";
            html += "<div class='form-group floating-label'>";
            html += "<a href='#' title='Izbriši' id='DUrowrem-" + numItems + "' class='btn btn-flat ink-reaction btn-default pull-right'><i class='md md-delete'></i></a>"
            html += "</div></div>";
            html += "</div>";
            $('#body-add-utovar').append(html);


            $("#DU-F-" + numItems).rules("add", {
                "required": true
            });
            $("#DU-A-" + numItems).rules("add", {
                "required": true
            });
            $("#DU-M-" + numItems).rules("add", {
                "required": true
            });

            $("#DU-M-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxGradovi",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Grad1, value: item.Grad1 };
                            }))

                        }
                    })
                }

            });


            $("#DU-A-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxAdresa",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Adresa, value: item.Adresa };
                            }))

                        }
                    })
                }
            });


            $("#DU-F-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxFirme",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Firma, value: item.Firma };
                            }))

                        }
                    })
                }
            });

            $("#DU-F-" + numItems).focusout(function () {

                if ($("#DU-A-" + numItems).val() == '' || $("#DU-M-" + numItems).val() == '') {
  
                    $.getJSON("/DnevnikPrevoza/AjaxVratiAdresuFirme", { Firma: $("#DU-F-" + numItems).val() }, function (data) {
                        if (data.Adresa != "") {
                            $("#DU-A-" + numItems).val(data.Adresa);
                            $("#DU-A-" + numItems).addClass("dirty");
              
                        }
                        if (data.Grad != "") {
                            $("#DU-M-" + numItems).val(data.Grad);
                            $("#DU-M-" + numItems).addClass("dirty");
            
                        }
                    });
                }
            });



            $("#DUrowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DU-F-" + numItems).val("");
                $("#DU-A-" + numItems).val("");
                $("#DU-M-" + numItems).val("");
                $("#DU-F-" + numItems).rules("remove");
                $("#DU-A-" + numItems).rules("remove");
                $("#DU-M-" + numItems).rules("remove");
                $("#DUrow-" + numItems).hide();
            });

        });

    });

</script>

<script>
    $(document).ready(function () {


        $("#a-add-istovar").on('click', function (e) {

            e.preventDefault();
            var numItems = $('#body-add-istovar').children('div.row').length;
     
            var html = "";

            html += "<div class='row' id='DIrow-" + numItems + "'><input type='hidden' name='DnevnikIstovar[" + numItems + "].IdDnevnik' value='@Model.IdDnevnik' ><div class='col-md-4'>";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DI-F-" + numItems + "' name='DnevnikIstovar[" + numItems + "].Firma' value='' class='form-control dirty' >";
            html += "<label>Firma</label>";
            html += "</div></div>";
            html += "<div class='col-md-4' >";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DI-A-" + numItems + "' name='DnevnikIstovar[" + numItems + "].Adresa' value='' class='form-control dirty' >";
            html += "<label>Adresa</label>";
            html += "</div></div>";
            html += "<div class='col-md-3' >";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DI-M-" + numItems + "' name='DnevnikIstovar[" + numItems + "].Mjesto' value='' class='form-control dirty' >";
            html += "<label>Mjesto</label>";
            html += "</div></div>";
            html += "<div class='col-md-1' >";
            html += "<div class='form-group floating-label'>";
            html += "<a href='#' title='Izbriši' id='DIrowrem-" + numItems + "' class='btn btn-flat ink-reaction btn-default pull-right'><i class='md md-delete'></i></a>"
            html += "</div></div>";
            html += "</div>";
            $('#body-add-istovar').append(html);


            $("#DI-F-" + numItems).rules("add", {
                "required": true
            });
            $("#DI-A-" + numItems).rules("add", {
                "required": true
            });
            $("#DI-M-" + numItems).rules("add", {
                "required": true
            });

            $("#DI-M-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxGradovi",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Grad1, value: item.Grad1 };
                            }))

                        }
                    })
                }

            });


            $("#DI-A-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxAdresa",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Adresa, value: item.Adresa };
                            }))

                        }
                    })
                }
            });


            $("#DI-F-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxFirme",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Firma, value: item.Firma };
                            }))

                        }
                    })
                }
            });

            $("#DI-F-" + numItems).focusout(function () {
         
                if ($("#DI-A-" + numItems).val() == '' || $("#DI-M-" + numItems).val() == '') {
        
                    $.getJSON("/DnevnikPrevoza/AjaxVratiAdresuFirme", { Firma: $("#DI-F-" + numItems).val() }, function (data) {
                        if (data.Adresa != "") {
                            $("#DI-A-" + numItems).val(data.Adresa);
                            $("#DI-A-" + numItems).addClass("dirty");
                  
                        }
                        if (data.Grad != "") {
                            $("#DI-M-" + numItems).val(data.Grad);
                            $("#DI-M-" + numItems).addClass("dirty");
                 
                        }
                    });
                }
            });



            $("#DIrowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DI-F-" + numItems).val("");
                $("#DI-A-" + numItems).val("");
                $("#DI-M-" + numItems).val("");
                $("#DI-F-" + numItems).rules("remove");
                $("#DI-A-" + numItems).rules("remove");
                $("#DI-M-" + numItems).rules("remove");
                $("#DIrow-" + numItems).hide();
            });

        });

    });

</script>

<script>
    $(document).ready(function () {


        $("#a-add-ui").on('click', function (e) {

            e.preventDefault();
            var numItems = $('#body-add-ui').children('div.row').length;

            var html = "";

            html += "<div class='row' id='DErow-" + numItems + "'><input type='hidden' name='DnevnikUvoznikIzvoznik[" + numItems + "].IdDnevnik' value='@Model.IdDnevnik' ><div class='col-md-5'>";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DE-U-" + numItems + "' name='DnevnikUvoznikIzvoznik[" + numItems + "].Uvoznik' value='' class='form-control dirty' >";
            html += "<label>Uvoznik</label>";
            html += "</div></div>";
            html += "<div class='col-md-5' >";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DE-I-" + numItems + "' name='DnevnikUvoznikIzvoznik[" + numItems + "].Izvoznik' value='' class='form-control dirty' >";
            html += "<label>Izvoznik</label>";
            html += "</div></div>";
            html += "<div class='col-md-2' >";
            html += "<div class='form-group floating-label'>";
            html += "<a href='#' title='Izbriši' id='DErowrem-" + numItems + "' class='btn btn-flat ink-reaction btn-default pull-right'><i class='md md-delete'></i></a>"
            html += "</div></div>";
            html += "</div>";
            $('#body-add-ui').append(html);


            $("#DE-U-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxUvoznik",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Uvoznik, value: item.Uvoznik };
                            }))

                        }
                    })
                }

            });


            $("#DE-I-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxIzvoznik",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Izvoznik, value: item.Izvoznik };
                            }))

                        }
                    })
                }
            });



            $("#DErowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DЕ-U-" + numItems).val("");
                $("#DЕ-I-" + numItems).val("");
                $("#DErow-" + numItems).hide();
            });

        });

    });

</script>

<script>
    $(document).ready(function () {


        $("#a-add-carina").on('click', function (e) {

            e.preventDefault();
            var numItems = $('#body-add-carina').children('div.row').length;
 
            var html = "";

            html += "<div class='row' id='DCrow-" + numItems + "'><input type='hidden' name='DnevnikCarina[" + numItems + "].IdDnevnik' value='@Model.IdDnevnik' ><div class='col-md-5'>";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DC-U-" + numItems + "' name='DnevnikCarina[" + numItems + "].UvoznaCarina' value='' class='form-control dirty' >";
            html += "<label>Uvozna Carina</label>";
            html += "</div></div>";
            html += "<div class='col-md-5' >";
            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='DC-I-" + numItems + "' name='DnevnikCarina[" + numItems + "].IzvoznaCarina' value='' class='form-control dirty' >";
            html += "<label>Izvozna Carina</label>";
            html += "</div></div>";
            html += "<div class='col-md-2' >";
            html += "<div class='form-group floating-label'>";
            html += "<a href='#' title='Izbriši' id='DCrowrem-" + numItems + "' class='btn btn-flat ink-reaction btn-default pull-right'><i class='md md-delete'></i></a>"
            html += "</div></div>";
            html += "</div>";
            $('#body-add-carina').append(html);


            $("#DC-U-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxSpedicija",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Spedicija, value: item.Spedicija };
                            }))

                        }
                    })
                }

            });


            $("#DC-I-" + numItems).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/DnevnikPrevoza/AjaxSpedicija",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Spedicija, value: item.Spedicija };
                            }))

                        }
                    })
                }
            });



            $("#DCrowrem-" + numItems).on('click', function (e) {
                e.preventDefault();
                $("#DC-U-" + numItems).val("");
                $("#DC-I-" + numItems).val("");
                $("#DCrow-" + numItems).hide();
            });

        });

    });

</script>


<script>
    $(document).ready(function () {


        $("#a-add-troskovi").on('click', function (e) {

            e.preventDefault();
            var numItems = $('#body-add-troskovi').children('div.row').length;
            console.log(numItems);
            var html = "";

            html += "<div class='row' id='Trow-" + numItems + "'><input type='hidden' name='Troskovi[" + numItems + "].IdDnevnik' value='@Model.IdDnevnik' ><div class='col-md-2'>";

            html += "<div class='form-group floating-label'>";
            html += "<input type='text' id='T-IZ-" + numItems + "' name='Troskovi[" + numItems + "].Iznos' value='' class='form-control dirty' >";
            html += "<label>Za Fakturisanje</label>";
            html += "</div></div>";

            html += "<div class='col-md-2'><div class='form-group floating-label'>";
            html += "<input type='text' id='T-ST-" + numItems + "' name='Troskovi[" + numItems + "].StvarniTrosak' value='' class='form-control dirty' >";
            html += "<label>Stvarni Trošak</label>";
            html += "</div></div>";

            html += "<div class='col-md-2' >";
            html += "<div class='form-group floating-label'>";
            html += "<select id='T-VA-" + numItems + "' name='Troskovi[" + numItems + "].IdValuta' value='' class='form-control dirty' >";
            html += "<option value='1'>BAM</option>";
            html += "<option value='2'>EUR</option>";
            html += "<option value='3'>RSD</option>";
            html += "<option value='4'>USD</option>";
            html += "</select>";
            html += "<label>Valuta</label>";
            html += "</div></div>";

            html += "<div class='col-md-5' >";
            html += "<div class='form-group floating-label'>";
            html += "<select id='T-VR-" + numItems + "' name='Troskovi[" + numItems + "].Vrsta' value='' class='form-control dirty' >";

            $.ajax({
                dataType: "json",
                url: "/Usluga/VratiUsluge",
               
                async: false, 
                success: function(data) {
                    
                    $.each(data, function(i, item) {
                        html+= "<option value = '" + item.Naziv + "' >" + item.Naziv + "</option>";
                    })​
                }
            });

            /*
            html += "<option value='Uvozno Carinjenje'>Uvozno Carinjenje</option>";
            html += "<option value='Izvozno Carinjenje'>Izvozno Carinjenje</option>";
            html += "<option value='Rent a Car'>Rent a Car</option>";
            html += "<option value='Auto Dan'>Auto Dan</option>";
            html += "<option value='Tranzitni Dokument T1'>Tranzitni Dokument T1</option>";
            html += "<option value='Carinski terminal'>Carinski terminal</option>";
            */
            html += "</select>";
            html += "<label>Vrsta</label>";
            html += "</div></div>";

            html += "<div class='col-md-1' >";
            html += "<div class='form-group floating-label'>";
            html += "<a href='#' title='Izbriši' id='Trowrem-" + numItems + "' class='btn btn-flat ink-reaction btn-default pull-right'><i class='md md-delete'></i></a>"
            html += "</div></div>";
            html += "</div>";
            $('#body-add-troskovi').append(html);



            $("#T-IZ-" + numItems).rules("add", {
                "required": true,
                "pattern": /^(\d+|\d+,\d{1,2})$/
            });

            $("#T-ST-" + numItems).rules("add", {
                "required": true,
                "pattern": /^(\d+|\d+,\d{1,2})$/
            });

            $("#Trowrem-" + numItems).on('click', function (e) {
                e.preventDefault();

                $("#T-IZ-" + numItems).rules("remove");
                $("#T-ST-" + numItems).rules("remove");
                $("#T-VA-" + numItems).rules("remove");
                $("#T-VR-" + numItems).rules("remove");

                $("#T-IZ-" + numItems).val("");
                $("#T-ST-" + numItems).val("");
                $("#T-VA-" + numItems).val("");
                $("#T-VR-" + numItems).val("");
                $("#Trow-" + numItems).hide();

            });

        });

    });

</script>


<section>  
<div class="container-fluid">      
    <div class="section-body ">         
        <div class="card card-bordered style-primary">
            <div class="card-head">
                			    <div class="tools">
								<div class="btn-group">
	                            <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
	                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
	                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                </div>
							    </div>
							    <header><i class="fa fa-fw fa-edit"></i>&nbsp Izmjeni podatke </header>
			</div>



@using (Html.BeginForm("Edit", "DnevnikPrevoza", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.ValidationSummary(true)

	 <div class="card-body style-default-bright">
                        <div class="row">
                            <div class="col-lg-6">

                             @Html.HiddenFor(model => model.IdDnevnik)
                            @Html.HiddenFor(model => model.GostPristup)
                                @Html.HiddenFor(model => model.Uplaceno)
                                @Html.HiddenFor(model => model.IdPonuda)

                        <div class="form-group floating-label">
                            @Html.EditorFor(model => model.DatumDnevnika, "DateTime")
                            @Html.ValidationMessageFor(model => model.DatumDnevnika)
                            @Html.LabelFor(model => model.DatumDnevnika)
                        </div>
                        <div class="form-group floating-label">
                            @Html.DropDownList("IdNarucioca", ViewBag.IdNaruciocaSL as SelectList, "",  new { @class = "form-control select" })
                            @Html.ValidationMessageFor(model => model.IdNarucioca)
                            @Html.LabelFor(model => model.IdNarucioca, "Naručioc")
                        </div>


                       <div class="row"><div class="col-lg-6">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.BrojNaloga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrojNaloga)
                            @Html.LabelFor(model => model.BrojNaloga)
                        </div>
                        </div>
                            <div class="col-lg-6">
                            <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.SerijskiBroj, new { @class = "form-control", @Readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.SerijskiBroj)
                            @Html.LabelFor(model => model.SerijskiBroj)
                        </div></div>
                        </div>

                        <div class="row">

                        <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.UtovarFirma, new { @class = "form-control firma" })
                            @Html.ValidationMessageFor(model => model.UtovarFirma)
                            @Html.LabelFor(model => model.UtovarFirma)
                        </div>
                                
                             </div>


                            <div class="col-md-5" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.UtovarAdresa, new { @class = "form-control adresa" })
                            @Html.ValidationMessageFor(model => model.UtovarAdresa)
                            @Html.LabelFor(model => model.UtovarAdresa)
                        </div>
                                
                            </div>

                          
                            <div class="col-md-3" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.UtovarGrad, new { @class = "form-control grad" })
                            @Html.ValidationMessageFor(model => model.UtovarGrad)
                            @Html.LabelFor(model => model.UtovarGrad)
                        </div>
                             </div>
                        </div>

<!--  DODATNI UTOVAR             -->
                         <div class="card card-bordered style-primary">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group">
                             <a id="a-add-utovar" class="btn btn-icon-toggle btn-add"><i class="md md-add"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <header><i class="fa fa-fw fa-sign-in"></i>&nbsp Dodatni Utovar </header>
                </div>
                <div class="card-body style-default-bright" id="body-add-utovar">

                    @for (int i = 0; i < Model.DnevnikUtovar.Count(); i++ )
                    {
                        
                            <div class="row" id="DUrow-@i">
                                 @Html.Hidden("DnevnikUtovar[" + i + "].IdUtovar",  Model.DnevnikUtovar.ElementAt(i).IdUtovar)
                                @Html.Hidden("DnevnikUtovar[" + i + "].IdDnevnik",  Model.DnevnikUtovar.ElementAt(i).IdDnevnik)
                              <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikUtovar["+i+"].Firma", Model.DnevnikUtovar.ElementAt(i).Firma, new { @class = "form-control firma", @id = "DU-F-" + i })
                            <label>Firma</label>
                        </div>
                                
                             </div>

                            <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikUtovar["+i+"].Adresa", Model.DnevnikUtovar.ElementAt(i).Adresa, new { @class = "form-control adresa", @id = "DU-A-" + i })
                             <label>Adresa</label>
                        </div>
                                
                            </div>
                          
                          
                            <div class="col-md-3" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikUtovar["+i+"].Mjesto", Model.DnevnikUtovar.ElementAt(i).Mjesto, new { @class = "form-control grad", @id = "DU-M-" + i })
                             <label>Mjesto</label>
                        </div>
                             </div>


                         <div class="col-md-1">
                         <div class="form-group floating-label">
                         <a href="#" title="Izbriši" id="DUrowrem-@i" class="btn btn-flat ink-reaction btn-default pull-right"><i class="md md-delete"></i></a>
                         </div></div>


                        </div>
                        
                    }
                    </div>
                    </div>

<!-- KRAJ  DODATNI UTOVAR             -->      
                        


                          <div class="row">

                        <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.IstovarFirma, new { @class = "form-control firma" })
                            @Html.ValidationMessageFor(model => model.IstovarFirma)
                            @Html.LabelFor(model => model.IstovarFirma)
                        </div>
                                
                             </div>

                            <div class="col-md-5" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.IstovarAdresa, new { @class = "form-control adresa" })
                            @Html.ValidationMessageFor(model => model.IstovarAdresa)
                            @Html.LabelFor(model => model.IstovarAdresa)
                        </div>
                                
                            </div>

                          
                            <div class="col-md-3" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.IstovarGrad, new { @class = "form-control grad" })
                            @Html.ValidationMessageFor(model => model.IstovarGrad)
                            @Html.LabelFor(model => model.IstovarGrad)
                        </div>
                             </div>
                        </div>

                        
                                
                          <div class="row">

                            <div class="col-md-6" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.UtovarKontakt, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UtovarKontakt)
                            @Html.LabelFor(model => model.UtovarKontakt)
                        </div>
                                
                            </div>

                            <div class="col-md-6" >
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.IstovarKontakt, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IstovarKontakt)
                            @Html.LabelFor(model => model.IstovarKontakt)
                        </div>
                             </div>
                        </div>
                                
<!--  DODATNI ISTOVAR             -->
                         <div class="card card-bordered style-primary">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group">
                             <a id="a-add-istovar" class="btn btn-icon-toggle btn-add"><i class="md md-add"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <header><i class="fa fa-fw fa-sign-out"></i>&nbsp Dodatni Istovar </header>
                </div>
                <div class="card-body style-default-bright" id="body-add-istovar">

                    @for (int i = 0; i < Model.DnevnikIstovar.Count(); i++ )
                    {
                        
                            <div class="row" id="DIrow-@i">
                                @Html.Hidden("DnevnikIstovar[" + i + "].IdIstovar",  Model.DnevnikIstovar.ElementAt(i).IdIstovar)
                                @Html.Hidden("DnevnikIstovar[" + i + "].IdDnevnik",  Model.DnevnikIstovar.ElementAt(i).IdDnevnik)
                              <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikIstovar[" + i + "].Firma",  Model.DnevnikIstovar.ElementAt(i).Firma, new { @class = "form-control firma", @id="DI-F-"+i })
                            <label>Firma</label>
                        </div>
                                
                             </div>

                            <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikIstovar[" + i + "].Adresa",  Model.DnevnikIstovar.ElementAt(i).Adresa, new { @class = "form-control adresa", @id="DI-A-"+i })
                             <label>Adresa</label>
                        </div>
                                
                            </div>
                          
                          
                            <div class="col-md-3" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikIstovar[" + i + "].Mjesto",  Model.DnevnikIstovar.ElementAt(i).Mjesto, new { @class = "form-control grad", @id="DI-M-"+i })
                             <label>Mjesto</label>
                        </div>
                             </div>


                        
                         <div class="col-md-1">
                         <div class="form-group floating-label">
                         <a href="#" title="Izbriši" id="DIrowrem-@i" class="btn btn-flat ink-reaction btn-default pull-right"><i class="md md-delete"></i></a>
                         </div></div>

                        </div>
                        
                    }
                    </div>
                    </div>

<!-- KRAJ  DODATNI ISTOVAR             -->                        

<!--  UVOZNIK IZVOZNIK            -->
                         <div class="card card-bordered style-primary">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group">
                             <a id="a-add-ui" class="btn btn-icon-toggle btn-add"><i class="md md-add"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <header><i class="fa fa-fw fa-exchange"></i>&nbsp Uvoznik i Izvoznik </header>
                </div>
                <div class="card-body style-default-bright" id="body-add-ui">

                    @for (int i = 0; i < Model.DnevnikUvoznikIzvoznik.Count(); i++ )
                    {
                            <div class="row" id="DErow-@i">
                                  @Html.Hidden("DnevnikUvoznikIzvoznik[" + i + "].IdUvoznikIzvoznik",  Model.DnevnikUvoznikIzvoznik.ElementAt(i).IdUvoznikIzvoznik)
                                @Html.Hidden("DnevnikUvoznikIzvoznik[" + i + "].IdDnevnik",  Model.DnevnikUvoznikIzvoznik.ElementAt(i).IdDnevnik)
                              <div class="col-md-5" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikUvoznikIzvoznik[" + i + "].Uvoznik", Model.DnevnikUvoznikIzvoznik.ElementAt(i).Uvoznik, new { @class = "form-control", @id="DE-U-"+i })
                            <label>Uvoznik</label>
                        </div>
                                
                             </div>

                            <div class="col-md-5" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikUvoznikIzvoznik[" + i + "].Izvoznik",  Model.DnevnikUvoznikIzvoznik.ElementAt(i).Izvoznik, new { @class = "form-control", @id="DE-I-"+i  })
                             <label>Izvoznik</label>
                        </div>
                                
                            </div>

                         <div class="col-md-2">
                         <div class="form-group floating-label">
                         <a href="#" title="Izbriši" id="DErowrem-@i" class="btn btn-flat ink-reaction btn-default pull-right"><i class="md md-delete"></i></a>
                         </div></div>
                          
                        </div>

                    }
                    </div>
                    </div>

<!-- KRAJ  UVOZNIK IZVOZNIK             -->     



                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group floating-label">
                            @Html.EditorFor(model => model.DatumUtovara, "DateTime")
                            @Html.ValidationMessageFor(model => model.DatumUtovara)
                            @Html.LabelFor(model => model.DatumUtovara)
                        </div>
                                </div>
                            <div class="col-md-6">
                        <div class="form-group floating-label">
                            @Html.EditorFor(model => model.DatumIstovara, "DateTime")
                            @Html.ValidationMessageFor(model => model.DatumIstovara)
                            @Html.LabelFor(model => model.DatumIstovara)
                        </div>
                                </div>
                             </div>

                        <div class="row">
                            <div class="col-md-4">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.KolicinaRobe, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KolicinaRobe)
                            @Html.LabelFor(model => model.KolicinaRobe)
                        </div>
                               </div>

                             <div class="col-md-4">
                             <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.VrstaRobe, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VrstaRobe)
                            @Html.LabelFor(model => model.VrstaRobe)
                        </div>
                            </div>
                         <div class="col-md-4">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.TezinaRobe, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TezinaRobe)
                            @Html.Label("Težina Robe u Kg")
                        </div>
                               </div>
                        </div>

                         <div class="row">
                            <div class="col-md-5">
                        <div class="form-group floating-label">
                         
                               @Html.TextBoxFor(model => model.CijenaPrevoza, new { @class = "form-control"  })
                            @Html.ValidationMessageFor(model => model.CijenaPrevoza)
                            @Html.LabelFor(model => model.CijenaPrevoza)
                        </div>
                            </div>

                              <div class="col-md-3">
                            <div class="form-group floating-label">
                            <div class="checkbox checkbox-inline checkbox-styled">
					        <label>
                                 @if(Model.SaPDV ?? false)
                                {
                                <input type ="checkbox" id="_SaPDV" name="_SaPDV" checked  />
                                }
                                else
                                {
                                <input type ="checkbox" id="_SaPDV" name="_SaPDV"  />
                                }
                            <span>Obračunat PDV</span>
                            </label>
                            </div>
                            </div>
                            </div>

                             

                            <div class="col-md-4">
                        <div class="form-group floating-label">
                            @Html.DropDownList("IdValuta", ViewBag.IdValutaSL as SelectList, "",  new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdValuta)
                            @Html.LabelFor(model => model.IdValuta, "Valuta")
                        </div>
                            </div>
                            </div>

                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.ValutaPlacanja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ValutaPlacanja)
                            @Html.LabelFor(model => model.ValutaPlacanja)
                        </div>

                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.UvoznaSpedicija, new { @class = "form-control spedicija" })
                            @Html.ValidationMessageFor(model => model.UvoznaSpedicija)
                            @Html.LabelFor(model => model.UvoznaSpedicija)
                        </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.IzvoznaSpedicija, new { @class = "form-control spedicija" })
                            @Html.ValidationMessageFor(model => model.IzvoznaSpedicija)
                            @Html.LabelFor(model => model.IzvoznaSpedicija)
                        </div>
                                 </div>
                             </div>



  <!--  Dodatna carina            -->
                         <div class="card card-bordered style-primary">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group">
                             <a id="a-add-carina" class="btn btn-icon-toggle btn-add"><i class="md md-add"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <header><i class="fa fa-fw fa-globe"></i>&nbsp Dodatne Carine </header>
                </div>
                <div class="card-body style-default-bright" id="body-add-carina">

                    @for (int i = 0; i < Model.DnevnikCarina.Count(); i++)
                    {
                        
                            <div class="row" id="DCrow-@i">
                                  @Html.Hidden("DnevnikCarina[" + i + "].IdCarina", Model.DnevnikCarina.ElementAt(i).IdCarina)
                                @Html.Hidden("DnevnikCarina[" + i + "].IdDnevnik", Model.DnevnikCarina.ElementAt(i).IdDnevnik)
                              <div class="col-md-5" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikCarina[" + i + "].UvoznaCarina", Model.DnevnikCarina.ElementAt(i).UvoznaCarina, new { @class = "form-control spedicija", @id = "DC-U-" + i })
                             <label>Uvozna Carina</label>
                        </div>
                                
                             </div>

                            <div class="col-md-5" >
                        <div class="form-group floating-label">
                            @Html.TextBox("DnevnikCarina[" + i + "].IzvoznaCarina", Model.DnevnikCarina.ElementAt(i).IzvoznaCarina, new { @class = "form-control spedicija", @id = "DC-I-" + i })
                             <label>Izvozna Carina</label>
                        </div>
                                
                            </div>


                       <div class="col-md-2">
                         <div class="form-group floating-label">
                         <a href="#" title="Izbriši" id="DCrowrem-@i" class="btn btn-flat ink-reaction btn-default pull-right"><i class="md md-delete"></i></a>
                         </div></div>
                          
                        </div>

                    }
                    </div>
                    </div>

<!-- Dodatna Carina             -->  

                    </div>
                     <div class="col-lg-6">


                       
                        <div class="row"><div class="col-lg-6">
                         <div class="form-group floating-label">
                            @Html.DropDownList("IdVozilo", ViewBag.IdVoziloSL as SelectList, "", new { @class = "form-control select" })
                            @Html.ValidationMessageFor(model => model.IdVozilo)
                            @Html.LabelFor(model => model.IdVozilo, "Vozilo")
                        </div>
                        </div>
                            <div class="col-lg-6">
                        <div class="form-group floating-label">
                            @Html.DropDownList("IdPrikljucnoVozilo", ViewBag.IdPrikljucnoSL as SelectList, String.Empty, new { @class = "form-control select" })
                            @Html.ValidationMessageFor(model => model.IdVozilo)
                            @Html.LabelFor(model => model.IdVozilo, "Priključno Vozilo")
                        </div>
                        </div>
                         </div>



                        <div class="form-group floating-label">
                            @Html.DropDownList("IdVozac", ViewBag.IdVozacSL as SelectList, String.Empty, new { @class = "form-control select" })
                            @Html.ValidationMessageFor(model => model.IdVozac)
                            @Html.LabelFor(model => model.IdVozac, "Vozač")
                        </div>

                         <div class="card-body card-outlined" style="margin-bottom:29px">

                             <div class="row">
                            <div class="col-md-6">
                        <div class="form-group floating-label">
                            <div class="checkbox checkbox-inline checkbox-styled">
					        <label>
                                @if (Model.DrugiPrevoznik ?? false)
                                {
                                <input type ="checkbox" id="cbDrugi" name="_DrugiPrevoznik" checked />
                                }
                                else
                                {
                                <input type ="checkbox" id="cbDrugi" name="_DrugiPrevoznik" />
                                }
                                <span>Da li je u pitanju drugi prevoznik</span>
                            </label>
                            </div>
                        </div>
                        </div>
                                
                                   <div class="col-md-6">
                        <div class="form-group floating-label">
                            <div class="checkbox checkbox-inline checkbox-styled">
					        <label>
                                @if (Model.KompletanUtovar ?? false)
                                {
                                <input type ="checkbox" id="cbKompletan" name="_KompletanUtovar" checked />
                                }
                                else
                                {
                                <input type ="checkbox" id="cbKompletan" name="_KompletanUtovar" />
                                }
                                <span>Da li je u pitanju kompletan utvar</span>
                            </label>
                            </div>
                        </div>
                        </div>
                                 </div>

                        <div class="form-group floating-label">
                            @Html.DropDownList("IdSubjekt", ViewBag.IdSubjektSL as SelectList, String.Empty, new { @class = "form-control select" })
                            @Html.ValidationMessageFor(model => model.IdSubjekt)
                            @Html.LabelFor(model => model.IdSubjekt, "Drugi Prevoznik")
                        </div>
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.BrojNalogaPrevoznika, new { @class = "form-control", @Readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.BrojNalogaPrevoznika)
                            @Html.LabelFor(model => model.BrojNalogaPrevoznika)
                        </div>

                            <div class="row">
                            <div class="col-md-5">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.CijenaPrevozaPrevoznika, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CijenaPrevozaPrevoznika)
                            @Html.LabelFor(model => model.CijenaPrevozaPrevoznika)
                        </div></div>
                             
                            <div class="col-md-3">
                        <div class="form-group floating-label">
                            @Html.DropDownList("IdValutaPrevoznika", ViewBag.IdValutaPrevoznikaSL as SelectList, String.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdValutaPrevoznika)
                            @Html.LabelFor(model => model.IdValutaPrevoznika, "Valuta")
                        </div>
                            </div>
                                <div class="col-md-4">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.ValutaPlacanjaPrevoznika, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ValutaPlacanjaPrevoznika)
                            @Html.LabelFor(model => model.IdValutaPrevoznika, "Valuta Plaćanja")
                        </div>
                            </div>
                             </div>

                           <div class="row">
                            <div class="col-md-6">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.RegistracijaVozilaPrevoznika, new { @class = "form-control regPrevoznika" })
                            @Html.ValidationMessageFor(model => model.RegistracijaVozilaPrevoznika)
                            @Html.LabelFor(model => model.RegistracijaVozilaPrevoznika)
                        </div></div>
                             
                            <div class="col-md-6">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.VozacPrevoznika, new { @class = "form-control vozacPrevoznika" })
                            @Html.ValidationMessageFor(model => model.VozacPrevoznika)
                            @Html.LabelFor(model => model.VozacPrevoznika)
                        </div>
                            </div>
                             </div>

                              <div class="row">
                                 <div class="col-md-4"><div class="form-group floating-label">
                                      @Html.TextBoxFor(model => model.PrevoznikIstovarFirma, new { @class = "form-control firma" })
                                      @Html.ValidationMessageFor(model => model.PrevoznikIstovarFirma)
                                      @Html.Label("Firma Istovara")
                                     <p class="help-block">*Drugo mjesto istovara</p>
                                 </div></div>
                                 <div class="col-md-4"><div class="form-group floating-label">
                                      @Html.TextBoxFor(model => model.PrevoznikIstovarAdresa, new { @class = "form-control adresa" })
                                      @Html.ValidationMessageFor(model => model.PrevoznikIstovarAdresa)
                                      @Html.Label("Adresa Istovara")
                                 </div></div>
                                 <div class="col-md-4"><div class="form-group floating-label">
                                      @Html.TextBoxFor(model => model.PrevoznikIstovarGrad, new { @class = "form-control grad" })
                                      @Html.ValidationMessageFor(model => model.PrevoznikIstovarGrad)
                                      @Html.Label("Grad Istovara")
                                 </div></div>
                             </div>

                        </div>
                         
                       <div class="row">
                             <div class="col-lg-6">
                        <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.BrojFakture, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrojFakture)
                            @Html.LabelFor(model => model.BrojFakture)
                        </div>
                           </div>
                         
                             <div class="col-lg-6">  
                        <div class="form-group floating-label">
                            @Html.EditorFor(model => model.DatumSlanjaFakture, "DateTime")
                            @Html.ValidationMessageFor(model => model.DatumSlanjaFakture)
                            @Html.LabelFor(model => model.DatumSlanjaFakture)
                        </div>
                                 </div>
                          </div> 
                         
                         <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.KontaktOsobaPrevoznika, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KontaktOsobaPrevoznika)
                            @Html.LabelFor(model => model.KontaktOsobaPrevoznika)
                        </div>
                         
                          <div class="form-group floating-label">
                            @Html.TextBoxFor(model => model.Napomena, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Napomena)
                            @Html.LabelFor(model => model.Napomena)
                        </div>
                         

                          @if(Spedicija.Models.SpedicijaAutorizacija.ImaRolu("admin")){
                           <div class="form-group floating-label">
                            @Html.TextAreaFor(model => model.InternaNapomena, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InternaNapomena)
                            @Html.LabelFor(model => model.InternaNapomena)
                        </div>
                          }
                         else
                         {
                        <div class="form-group floating-label">
                            @Html.HiddenFor(model => model.InternaNapomena, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InternaNapomena)
                            @Html.LabelFor(model => model.InternaNapomena)
                        </div>
                          }

                         <!--  Dodatne usluge            -->
                         <div class="card card-bordered style-primary">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group">
                             <a id="a-add-troskovi" class="btn btn-icon-toggle btn-add"><i class="md md-add"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                    </div>
                    <header><i class="fa fa-fw fa-eur"></i>&nbsp Dadatne Usluge </header>
                </div>
                <div class="card-body style-default-bright" id="body-add-troskovi">

                    @for (int j = 0; j < Model.Troskovi.Count; j++ )
                    {
                        
                        
                            <div class="row" id="Trow-@j">

                                @Html.Hidden("Troskovi[" + j + "].IdTroskovi",  Model.Troskovi.ElementAt(j).IdTroskovi)
                                @Html.Hidden("Troskovi[" + j + "].IdDnevnik",  Model.Troskovi.ElementAt(j).IdDnevnik)

                              <div class="col-md-3" >
                        <div class="form-group floating-label">
                           
                            @Html.TextBox("Troskovi[" + j + "].Iznos", Model.Troskovi.ElementAt(j).Iznos,  new { @class = "form-control", id = "T-IZ-"+j })

                        </div>
                                
                             </div>

                            <div class="col-md-4" >
                        <div class="form-group floating-label">
                       
                        @Html.DropDownList("Troskovi[" + j + "].IdValuta", (ViewBag.ListaValuta as List<SelectList>)[j] as SelectList , new { @class = "form-control", id = "T-VA-"+j })

                        </div>
                                
                            </div>

                     <div class="col-md-4" >
                        <div class="form-group floating-label">
                            @Html.DropDownList("Troskovi[" + j + "].Vrsta", (ViewBag.ListaTroskova as List<SelectList>)[j] as SelectList,  new { @class = "form-control", id = "T-VR-"+j  })
                        </div>
                                
                            </div>
                          
                            <div class='col-md-1' >
                            <div class='form-group floating-label'>
                           <a href='#' title='Izbriši' id='Trowrem-@j' class='btn btn-flat ink-reaction btn-default pull-right'><i class='md md-delete'></i></a>
                           
                            </div></div>

                        </div>
                        
   
                    }
                    </div>
                    </div>

<!-- Dodatna usluge             -->     







                         @Html.HiddenFor(model => model.Status) 
                    </div>
                            </div>




                    </div>
		     <div class="card-actionbar style-default-bright">
				<div class="card-actionbar-row">	
                          <input type="submit" value="SAČUVAJ IZMJENE" class = "btn btn-flat btn-primary ink-reaction"  />
						 @Html.ActionLink("NAZAD NA LISTU", "Index", null, new { @class = "btn btn-flat btn-primary ink-reaction pull-left" })
									</div>
			</div>

}
 </div>
    </div>
	</div>
    </section>



